<!-- your code here -->
<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../css/common.css">
    <title>CopyBro</title>
</head>
<body>
    <div class="container">
        <header class="header">
            <img src="/images/logo.png" class="image company-logo" alt="company logo">
            <img src="/images/name.png" class="image company-name" alt="company name">
            <button class="upper-button btn">Установить</button>
        </header>

        <section class="investment">
            <div class="invest-text">
                <div class="desktop-text" id="block_1">
                    <h2 class="title title-top blue-text">Инвестируйте легко</h2>
                    <h2 class="title title-bottom">и получайте доход </h2>
                    <h4 class="profit"><span class="profit-num blue-text">+51,9%</span> годовых <sup>*</sup></h4>
                    <p class="text">Выбирайте стратегии успешных трейдеров и копируйте сделки в авторежиме. Зарабатывайте легко и с минимальными рисками через мобильное приложение Сopybro.</p>
                </div>
                <div class="mobile-text">
                    <h2 class="title title-top blue-text">Зарабатывайте на инвестировании легче и больше</h2>
                    <p class="text">Подписывайтесь на лучшие стратегии, копируйте сделки профессиональных трейдеров в автоматическом режиме, зарабатывайте легко с минимальными рисками</p>
                </div>
                <div class="buttons-block" id="block_3">
                    <button class="btn left-btn">Установить приложение</button>
                    <div class="mobile-links">
                        <img src="/images/google_btn.png" alt="playmarket link" class="google-btn">
                        <img src="/images/apple_btn.png" alt="appstore link" class="apple-btn">
                    </div>
                </div>
            </div>
            <div class="invest-img">
                <div class="man-image">
                    <img src="/images/man.png" alt="man image" class="main-man-image desktop-man" id="block_0">
                    <img src="/images/man-mobile.png" alt="man image" class="main-man-image mobile-man" id="block_0">
                    <div class="colored-block orange-block" id="block_2">
                        <div class="icon-wrapper">
                            <img src="/images/watches.png" alt="" id="block_6">
                        </div>
                        <h3 class="title">60 мин</h3>
                        <p class="text">Сэкономленного времени в день</p>
                    </div>
                    <div class="colored-block blue-block" id="block_4">
                        <div class="icon-wrapper">
                            <img src="/images/dollar.png" alt="" id="block_7">
                        </div>
                        <h3 class="title">от 0,0₽</h3>
                        <p class="text">Платите комиссию только с прибыли</p>
                    </div>
                    <div class="colored-block grey-block" id="block_5">
                        <div class="icon-wrapper">
                            <img src="/images/percent.png" alt="" id="block_8">
                        </div>
                        <h3 class="title">51,9%</h3>
                        <p class="text">Средняя годовая доходность</p>
                    </div>
                </div>
            </div>
        </section>

        <footer class="footer">
            <div class="footer-image" id="block_9">
                <img src="/images/footer-image.png" alt="">
            </div>
            <div class="footer-text" id="block_10">
                <h2 class="footer-title">Автоследование: <span class="blue-text">минимальные риски,</span> оптимальная доходность</h2>
                <p class="footer-small-text">Мы собрали для вас лучшие торговые стратегии с подтвержденными данными по прошлым сделкам и их доходности. Трейдер ежедневно следит за динамикой рынка, совершая сделки и балансируя риски и доходность стратегии. </p>
            </div>
        </footer>
    </div>


    <script src="/js/common.js"></script>
</body>
</html>